In [1]:
print("Hi")

Hi

In [2]:
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
import math as m
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn import svm, datasets
from sklearn.datasets import load_digits
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Lasso, Ridge
import matplotlib
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score

In [3]:
df = pd.read_csv('C:\\Users\\Guest_User\\Downloads\\vehicle_data\\vehicle_maintenance_data.csv')
df.head()

,Vehicle_Model,Mileage,Maintenance_History,Reported_Issues,Vehicle_Age,Fuel_Type,Transmission_Type,Engine_Size,Odometer_Reading,Last_Service_Date,Warranty_Expiry_Date,Owner_Type,Insurance_Premium,Service_History,Accident_History,Fuel_Efficiency,Tire_Condition,Brake_Condition,Battery_Status,Need_Maintenance
0,Truck,58765,Good,0,4,Electric,Automatic,2000,28524,2023-11-23,2025-06-24,Second,20782,6,3,13.622204,New,New,Weak,1
1,Van,60353,Average,1,7,Electric,Automatic,2500,133630,2023-09-21,2025-06-04,Second,23489,7,0,13.625307,New,New,Weak,1
2,Bus,68072,Poor,0,2,Electric,Automatic,1500,34022,2023-06-27,2025-04-27,First,17979,7,0,14.306302,New,Good,Weak,1
3,Bus,60849,Average,4,5,Petrol,Automatic,2500,81636,2023-08-24,2025-11-05,Second,6220,7,3,18.709467,New,Worn Out,New,1
4,Bus,45742,Poor,5,1,Petrol,Manual,2000,97162,2023-05-25,2025-09-14,Third,16446,6,2,16.977482,Good,Good,Weak,1

In [4]:
df['Last_Service_Date'] = pd.to_datetime(df['Last_Service_Date'])
df['Warranty_Expiry_Date'] = pd.to_datetime(df['Warranty_Expiry_Date'])
df.head()

,Vehicle_Model,Mileage,Maintenance_History,Reported_Issues,Vehicle_Age,Fuel_Type,Transmission_Type,Engine_Size,Odometer_Reading,Last_Service_Date,Warranty_Expiry_Date,Owner_Type,Insurance_Premium,Service_History,Accident_History,Fuel_Efficiency,Tire_Condition,Brake_Condition,Battery_Status,Need_Maintenance
0,Truck,58765,Good,0,4,Electric,Automatic,2000,28524,2023-11-23,2025-06-24,Second,20782,6,3,13.622204,New,New,Weak,1
1,Van,60353,Average,1,7,Electric,Automatic,2500,133630,2023-09-21,2025-06-04,Second,23489,7,0,13.625307,New,New,Weak,1
2,Bus,68072,Poor,0,2,Electric,Automatic,1500,34022,2023-06-27,2025-04-27,First,17979,7,0,14.306302,New,Good,Weak,1
3,Bus,60849,Average,4,5,Petrol,Automatic,2500,81636,2023-08-24,2025-11-05,Second,6220,7,3,18.709467,New,Worn Out,New,1
4,Bus,45742,Poor,5,1,Petrol,Manual,2000,97162,2023-05-25,2025-09-14,Third,16446,6,2,16.977482,Good,Good,Weak,1

In [5]:
df['Last_Service_Year'] = df['Last_Service_Date'].dt.year
df['Last_Service_Month'] = df['Last_Service_Date'].dt.month
df['Last_Service_Day'] = df['Last_Service_Date'].dt.day
df['Last_Service_DayOfWeek'] = df['Last_Service_Date'].dt.dayofweek
df.head()

,Vehicle_Model,Mileage,Maintenance_History,Reported_Issues,Vehicle_Age,Fuel_Type,Transmission_Type,Engine_Size,Odometer_Reading,Last_Service_Date,...,Accident_History,Fuel_Efficiency,Tire_Condition,Brake_Condition,Battery_Status,Need_Maintenance,Last_Service_Year,Last_Service_Month,Last_Service_Day,Last_Service_DayOfWeek
0,Truck,58765,Good,0,4,Electric,Automatic,2000,28524,2023-11-23,...,3,13.622204,New,New,Weak,1,2023,11,23,3
1,Van,60353,Average,1,7,Electric,Automatic,2500,133630,2023-09-21,...,0,13.625307,New,New,Weak,1,2023,9,21,3
2,Bus,68072,Poor,0,2,Electric,Automatic,1500,34022,2023-06-27,...,0,14.306302,New,Good,Weak,1,2023,6,27,1
3,Bus,60849,Average,4,5,Petrol,Automatic,2500,81636,2023-08-24,...,3,18.709467,New,Worn Out,New,1,2023,8,24,3
4,Bus,45742,Poor,5,1,Petrol,Manual,2000,97162,2023-05-25,...,2,16.977482,Good,Good,Weak,1,2023,5,25,3

In [6]:
df['Warranty_Expiry_Year'] = df['Warranty_Expiry_Date'].dt.year
df['Warranty_Expiry_Month'] = df['Warranty_Expiry_Date'].dt.month
df['Warranty_Expiry_Day'] = df['Warranty_Expiry_Date'].dt.day
df['Warranty_Expiry_DayOfWeek'] = df['Warranty_Expiry_Date'].dt.dayofweek
df.head()

,Vehicle_Model,Mileage,Maintenance_History,Reported_Issues,Vehicle_Age,Fuel_Type,Transmission_Type,Engine_Size,Odometer_Reading,Last_Service_Date,...,Battery_Status,Need_Maintenance,Last_Service_Year,Last_Service_Month,Last_Service_Day,Last_Service_DayOfWeek,Warranty_Expiry_Year,Warranty_Expiry_Month,Warranty_Expiry_Day,Warranty_Expiry_DayOfWeek
0,Truck,58765,Good,0,4,Electric,Automatic,2000,28524,2023-11-23,...,Weak,1,2023,11,23,3,2025,6,24,1
1,Van,60353,Average,1,7,Electric,Automatic,2500,133630,2023-09-21,...,Weak,1,2023,9,21,3,2025,6,4,2
2,Bus,68072,Poor,0,2,Electric,Automatic,1500,34022,2023-06-27,...,Weak,1,2023,6,27,1,2025,4,27,6
3,Bus,60849,Average,4,5,Petrol,Automatic,2500,81636,2023-08-24,...,New,1,2023,8,24,3,2025,11,5,2
4,Bus,45742,Poor,5,1,Petrol,Manual,2000,97162,2023-05-25,...,Weak,1,2023,5,25,3,2025,9,14,6

In [7]:
df.drop(['Last_Service_Date', 'Warranty_Expiry_Date'], axis=1, inplace=True)
df.head()

,Vehicle_Model,Mileage,Maintenance_History,Reported_Issues,Vehicle_Age,Fuel_Type,Transmission_Type,Engine_Size,Odometer_Reading,Owner_Type,...,Battery_Status,Need_Maintenance,Last_Service_Year,Last_Service_Month,Last_Service_Day,Last_Service_DayOfWeek,Warranty_Expiry_Year,Warranty_Expiry_Month,Warranty_Expiry_Day,Warranty_Expiry_DayOfWeek
0,Truck,58765,Good,0,4,Electric,Automatic,2000,28524,Second,...,Weak,1,2023,11,23,3,2025,6,24,1
1,Van,60353,Average,1,7,Electric,Automatic,2500,133630,Second,...,Weak,1,2023,9,21,3,2025,6,4,2
2,Bus,68072,Poor,0,2,Electric,Automatic,1500,34022,First,...,Weak,1,2023,6,27,1,2025,4,27,6
3,Bus,60849,Average,4,5,Petrol,Automatic,2500,81636,Second,...,New,1,2023,8,24,3,2025,11,5,2
4,Bus,45742,Poor,5,1,Petrol,Manual,2000,97162,Third,...,Weak,1,2023,5,25,3,2025,9,14,6

In [8]:
X = df.drop(['Fuel_Type','Owner_Type','Insurance_Premium','Fuel_Efficiency'], axis = 'columns')
dummies = pd.get_dummies(X)
X = dummies
X.head()

,Mileage,Reported_Issues,Vehicle_Age,Engine_Size,Odometer_Reading,Service_History,Accident_History,Need_Maintenance,Last_Service_Year,Last_Service_Month,...,Transmission_Type_Manual,Tire_Condition_Good,Tire_Condition_New,Tire_Condition_Worn Out,Brake_Condition_Good,Brake_Condition_New,Brake_Condition_Worn Out,Battery_Status_Good,Battery_Status_New,Battery_Status_Weak
0,58765,0,4,2000,28524,6,3,1,2023,11,...,False,False,True,False,False,True,False,False,False,True
1,60353,1,7,2500,133630,7,0,1,2023,9,...,False,False,True,False,False,True,False,False,False,True
2,68072,0,2,1500,34022,7,0,1,2023,6,...,False,False,True,False,True,False,False,False,False,True
3,60849,4,5,2500,81636,7,3,1,2023,8,...,False,False,True,False,False,False,True,False,True,False
4,45742,5,1,2000,97162,6,2,1,2023,5,...,True,True,False,False,True,False,False,False,False,True

In [14]:
len(X)

50000

In [9]:
y = df['Need_Maintenance']
y.head()

0    1
1    1
2    1
3    1
4    1
Name: Need_Maintenance, dtype: int64

In [10]:
xtrain, xtest, ytrain, ytest = train_test_split(X, y, test_size=0.25, random_state=10)
xtrain.head()

,Mileage,Reported_Issues,Vehicle_Age,Engine_Size,Odometer_Reading,Service_History,Accident_History,Need_Maintenance,Last_Service_Year,Last_Service_Month,...,Transmission_Type_Manual,Tire_Condition_Good,Tire_Condition_New,Tire_Condition_Worn Out,Brake_Condition_Good,Brake_Condition_New,Brake_Condition_Worn Out,Battery_Status_Good,Battery_Status_New,Battery_Status_Weak
44124,43842,2,4,1500,91859,3,1,0,2023,4,...,True,True,False,False,True,False,False,True,False,False
835,54986,5,2,2000,16783,8,0,1,2023,4,...,True,False,True,False,True,False,False,True,False,False
363,35882,2,5,800,45263,3,2,1,2023,8,...,True,True,False,False,False,True,False,False,False,True
6702,60665,3,1,1500,81861,1,2,1,2024,1,...,False,True,False,False,False,True,False,True,False,False
40062,54362,1,1,1500,25420,1,2,1,2023,5,...,False,False,True,False,False,True,False,False,False,True

In [11]:
xtrain['Last_Service_Month_Sin'] = np.sin(2 * np.pi * xtrain['Last_Service_Month'] / 12)
xtrain['Last_Service_Month_Cos'] = np.cos(2 * np.pi * xtrain['Last_Service_Month'] / 12)
xtest['Last_Service_Month_Sin'] = np.sin(2 * np.pi * xtest['Last_Service_Month'] / 12)
xtest['Last_Service_Month_Cos'] = np.cos(2 * np.pi * xtest['Last_Service_Month'] / 12)
xtrain.head()

,Mileage,Reported_Issues,Vehicle_Age,Engine_Size,Odometer_Reading,Service_History,Accident_History,Need_Maintenance,Last_Service_Year,Last_Service_Month,...,Tire_Condition_New,Tire_Condition_Worn Out,Brake_Condition_Good,Brake_Condition_New,Brake_Condition_Worn Out,Battery_Status_Good,Battery_Status_New,Battery_Status_Weak,Last_Service_Month_Sin,Last_Service_Month_Cos
44124,43842,2,4,1500,91859,3,1,0,2023,4,...,False,False,True,False,False,True,False,False,0.866025,-0.500000
835,54986,5,2,2000,16783,8,0,1,2023,4,...,True,False,True,False,False,True,False,False,0.866025,-0.500000
363,35882,2,5,800,45263,3,2,1,2023,8,...,False,False,False,True,False,False,False,True,-0.866025,-0.500000
6702,60665,3,1,1500,81861,1,2,1,2024,1,...,False,False,False,True,False,True,False,False,0.500000,0.866025
40062,54362,1,1,1500,25420,1,2,1,2023,5,...,True,False,False,True,False,False,False,True,0.500000,-0.866025

In [12]:
model = LinearRegression()
model.fit(xtrain, ytrain)

LinearRegression()

In [13]:
score = model.score(xtest, ytest)
print(f"Model score on test set: {score}")

Model score on test set: 1.0

In [15]:
cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
scores = cross_val_score(model, X, y, cv=cv)

In [16]:
print(f"Cross-validation scores: {scores}")
print(f"Mean cross-validation score: {np.mean(scores)}")

Cross-validation scores: [1. 1. 1. 1. 1.]
Mean cross-validation score: 1.0

In [17]:
algos = {
    'linear_regression': {
        'model': LinearRegression(),
        'params': {
            #'normalize': [True, False]
        }
    },
    'lasso': {
        'model': Lasso(),
        'params': {
            'alpha': [1, 2],
            'selection': ['random', 'cyclic']
        }
    },
    'decision_tree': {
        'model': DecisionTreeRegressor(),
        'params': {
            'criterion': ['absolute_error', 'poisson', 'friedman_mse', 'squared_error'],
            'splitter': ['best', 'random']
        }
    }
}

In [18]:
scores = []
cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)

In [19]:
for algo_name, config in algos.items():
    gs = GridSearchCV(config['model'], config['params'], cv=cv, return_train_score=False)
    gs.fit(X, y)
    scores.append({
        'model': algo_name,
        'best_score': gs.best_score_,
        'best_params': gs.best_params_
    })